{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/product_detail.css') }}">
{% endblock %}

{% block title %}{{ t(product.title_key) }}{% endblock %}

{% block content %}
<section class="sb-hero">
  <div class="sb-hero__copy">
    <h1 class="sb-hero__title">{{ t(product.title_key) }}</h1>

    <p class="sb-hero__subtitle">
      {{ t("sb_lp_subtitle") }}
    </p>

    <div class="sb-hero__cta">
      <a class="sb-btn sb-btn--primary" href="#buy">
        {{ t("sb_lp_buy_h2") }}
      </a>
    </div>

    <ul class="sb-hero__bullets">
      <li>{{ t("sb_lp_b1") }}</li>
      <li>{{ t("sb_lp_b2") }}</li>
      <li>{{ t("sb_lp_b3") }}</li>
    </ul>
  </div>

  <div class="sb-hero__media" id="screens">
  <div class="sb-shot sb-shot--1">
    <img class="sb-shot__img" src="/static/img/smartbudget/shot-1.png" alt="{{ t('sb_shot_1') }}">
    <div class="sb-shot__label">{{ t("sb_shot_1") }}</div>
  </div>

  <div class="sb-shot sb-shot--2">
    <img class="sb-shot__img" src="/static/img/smartbudget/shot-2.png" alt="{{ t('sb_shot_2') }}">
    <div class="sb-shot__label">{{ t("sb_shot_2") }}</div>
  </div>

  <div class="sb-shot sb-shot--3">
    <img class="sb-shot__img" src="/static/img/smartbudget/shot-3.png" alt="{{ t('sb_shot_3') }}">
    <div class="sb-shot__label">{{ t("sb_shot_3") }}</div>
  </div>
</div>

</section>

{% endblock %}
